$primary-color: #467280;
$secondary-color: #D9F6FF;
$tertier-color: #8CE4FF;
$extra-color1: #6C7B80;
$extra-color2: #70B7CC;

$font-color-light: #F7FCFF;
$font-color-dark: #222f3e;

$font-logo: 'Poppins', sans-serif;
$font-heading: 'Roboto', sans-serif;
$font-content: 'Roboto Slab', serif;;

.App {
  text-align: center;
  grid-template-columns: 50% 50%;
  display: grid;
  grid-template-areas:  
    "navbar navbar"
    "content content";
}

.home{
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "search search"
                        "sort sort"
                        "product product";
}

.navbar{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: $primary-color;
  grid-area: navbar;

  &__title{
    color: $font-color-light;
    font-size: 1.6rem;
    font-family: $font-logo;
    font-weight: 800;
    align-self: center;
  }

  .balance-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .balance{
      color: $secondary-color;
      font-family: $font-content;
      font-size: 1rem;
      margin: 0 1rem 0 0;
    }
  
    .fa-user-circle{
      color: $font-color-light;
      font-size: 1.7rem;
    }
  }

}

.search {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  border-radius: 2px;
  grid-area: search;

  &__input {
    border: none;
    border: 1px solid hsl(0,0%,80%);;
    font-size: 1rem;
    padding: .5rem 1rem;
    font-family: 'Roboto Slab', serif;
    border-radius: 2px;
  }

  &__btn {
    border: none;
    padding: .25rem .725rem;
    background-color: $font-color-light;
    outline: none;
  
    &:hover{
      cursor: pointer;
    }
  }
  
  .fa-search {
    color: $primary-color;
  }
}

.sort-bar {
  grid-area: sort;
  justify-self: center;
  margin: .725rem auto;
  width: 7rem;
  font-family: $font-content;
  font-size: .8rem;
}

.lds-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.productList {
  grid-area: product;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 2rem 0;
}

.product {
  width: 90%;
  margin: 0 0 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  position: relative;
  flex-direction: column;

  .indicator{
    float: left;
    position: absolute;
    right: -5px;
    background-color: orangered;
    font-size: .9rem;
    padding: .25rem;

    &-label{
      font-family: $font-content;
      color: $font-color-light;
      display: inline-block;
      margin: auto;
      align-self: center;
    }

  }

  &__img{
    display: block;
    width: 100%;
    min-height: 35vh;
  }

  &__title{
    margin: 0;
    margin-top: .5rem;
    font-family: $font-heading;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__stars{
    padding: .5rem 0;
    color: $tertier-color;
  }

  &__genre{
    margin: 0;
    font-family: $font-content;
    color: $primary-color;
  }

  &__price{
    margin: .25rem 0;
    font-family: $font-content;
    color: orangered;
  }
}

.details{
  grid-area: content;
  padding: 1rem;

    &__title{
      color: $font-color-dark;
    }

    &__tagline{
      font-family: $font-heading;
      color: $extra-color1;
    }

    &__img{
      max-width: 100%;
    }

    &__overview{
      color: $font-color-dark;
      font-family: $font-content;
      text-align: justify;
      font-size: 1rem;
    }

    &__rate{
      color: $font-color-dark;
      font-family: $font-content;
      text-align: left;
      font-size: 1rem;
    }

    &__duration{
      color: $font-color-dark;
      font-family: $font-content;
      text-align: justify;
      font-size: 1rem;
    }

    &__runtime{
      color: $font-color-dark;
      font-family: $font-content;
      text-align: justify;
      font-size: 1rem;
    }

    &__price{
      color: orangered;
      font-family: $font-content;
      text-align: justify;
      font-size: 1rem;
    }

    &__own{

      &-yes{
        font-family: $font-content;
        font-size: 1rem;
        color: $font-color-dark;
        text-align: left;
      }

      &-no{
        font-family: $font-content;
        font-size: 1rem;
        color: $extra-color2;
        text-align: left;
      }
    }

    &__buy{
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      background-color: $primary-color;
      color: $font-color-light;
      margin: 1rem 0;
      padding: .725rem 1.5rem;
      font-family: $font-content;
      font-size: 1rem;

      &-disabled{
        box-sizing: border-box;
      border: none;
      border-radius: 3px;
      background-color: $extra-color1;  
      color: grey;
      margin: 1rem 0;
      padding: .725rem 1.5rem;
      font-family: $font-content;
      font-size: 1rem;
        
      }
    }
}